body{
    margin: 0px !important;
    padding: 0px !important;
}
#menu-bar{
    background:#cf2436;
    color:white;
}
#menu-bar a{
    color: #fff;
}
#top_bar{
    background: #707780;
    color: #C1C7CE;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
section 
{
    
}
nav{
    width: 100%;
    /* background: #001f44; */
}
nav img{
    height: 100px;
    margin-right: 100px;
}
nav ul{
   
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 80%;
}
nav ul li {
    list-style: none;
    /* display: inline-block; */
    

}

 nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
}
nav ul li a :hover{
    text-decoration: none;
    background: #838383;
} 
a:hover {
    text-decoration:none;
 }
 nav ul li ul{
     /* display: block;
     background: #56afd5;
     min-width: 250px;
     position: absolute;
     margin-top: 0px; 
     z-index: 5; */

 }
 nav ul ul{
     display: none;
 }
 nav ul li:hover > ul{
    display: block;
    background: #56afd5;
    width: 200px;
    position: absolute;
    margin-top: 15px; 
    z-index: 5;
    text-align: center;
 } 

 nav ul li ul li a{
     padding: 10px;
     color: #fff;
 }
 nav ul li ul li :hover{
    background: #838383 !important;
}

 .toggle{
     width: 100%;
     padding: 10px 20px;
     background: #001f44;
     text-align: right; 
     box-sizing: border-box;
     color: #fff; 
     font-size: 30px;
     display: none;
 }
 @media(max-width:768px){
     nav{
         background:#001f44;
         
     }
     nav ul li a{
         color: #fff;
     }
     .toggle{
         display: block;
     }
     nav ul{
        width: 100%;
        display: none;
         
    }
    nav ul li {
        display: block;
        text-align: center; 
    }
    .active{
        display: block;
    }
 }
 


.dash-wrapper{
    height: 400px;
    width: 100%;
    background-color: #aab6bc;
}

#check-section{
    background-color: #ECECEC;
    height: 500px;
}
.check-wrapper{
    padding-top: 20px;
}
 .AC-NM ul {
     padding-left: 0;
    
 }
 .AC-NM ul li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 51px;
    
    
}
.ac-img ul li{
    list-style: none;
}
.ac-img ul{
    padding-left: 0;
}
.ac-img img{
    position: relative;
    height:70px;

}
.ac-name{
    padding-left: 110px;
}
.dt-out{
    padding-right: 0;
}
.pd{
    padding-left: 12px;
}

.check-wrapper h6{
    color: #cf2436;
}